<h3>Buying List</h3>
<p>This is a list of potential houses for sale.</p>

<div class="row">
	<div class="col-md-8">
		<div class="table-responsive table-bordered">
		  <table class="table">
		    <thead>
			    <tr>
			    	<th>Property Name</th>
			    	<th>Location</th>
			    	<th>Date Added</th>
				</tr>
		    </thead>
		    <tbody>
			    <tr ng-repeat="property in buyProperties">
			    	<td>{{property.name}}</td>
			    	<td>{{property.city}}, {{property.state}}</td>
			    	<td>{{property.date_added}}</td>
			    </tr>
		    </tbody>
		  </table>
		</div>

		<br>

		<div class="alert alert-info">To add a new property to this list, click 
			<a ng-click="addbuyProperty()">here</a>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
	         <h3 class="panel-title">Looking to buy a home?</h3>
	    </div>
			<div class="panel-body">
				<p>Make sure you have the following lined up!</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="reqs in buyReqs">
					{{reqs.name}}
				</li>
			</ul>
		</div>
	</div>
</div>	



<div ng-include=" 'views/dash/_addproperty_modal.html' ">