<div class="row">
	<div class="col-md-8">
		<h3>Buying List</h3>
		<p>This is a list of potential houses for sale.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default" ng-repeat="property in buyProperties">
			

		  <div class="panel-heading">
				<span><b>{{property.name}}</b></span>
				<span>{{property.city}}, {{property.state}}</span>
				<span class="pull-right">{{property.completion_status}}</span>
		  </div>

			<div class="panel-body">
				<span ng-if="expanded == false">This property is missing several documents. Click <a ng-click="buyChecklist(this)">here</a> to complete this profile.<span>
			</div>	

			<ul class="list-group" ng-if="expanded == true">
				<li class="list-group-item text-right" ng-repeat="reqs in buyReqs">
					<span class="pull-left">{{reqs.name}}</span>
					<span><a class="btn btn-sm btn-primary" href="">Upload</a></span>
				</li>
			</ul>

			<div class="panel-footer text-right">
   			 <a class="btn btn-default" href="">
   			 		<span class="glyphicon glyphicon-arrow-down"></span> 
   			 		Export Document(s)
   			 	</a>
  		</div>
		</div>

		<br>

		<div class="alert alert-info">To add a new property to this list, click 
			<a ng-click="addbuyProperty()">here</a>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
	         <h3 class="panel-title">Looking to buy a home?</h3>
	    </div>
			<div class="panel-body">
				<p>The home buying process is a series of calculated steps.<br><br> Complete each home checklist to ensure that you have all of the nescessary files required for purchasing a home.</p>
			</div>
		</div>
	</div>
</div>

<div ng-include=" 'views/dash/_addproperty_modal.html' "></div>