<h3>MyProperty List</h3>
<p>This is a list all of your properties.</p>

<div class="row">
	<div class="col-md-8">
		<div class="table-responsive table-bordered">
		  <table class="table">
		    <thead>
			    <tr>
			    	<th>Property Name</th>
			    	<th>Location</th>
			    	<th>Documents Submitted</th>
			    	<th>Approval Status</th>
				</tr>
		    </thead>
		    <tbody>
			    <tr ng-repeat="property in myProperties">
			    	<td>{{property.name}}</td>
			    	<td>{{property.city}}, {{property.state}}</td>
			    	<td class="align-center"><span class="glyphicon glyphicon-ok"></span></td>
			    	<td class="align-center"><span class="glyphicon glyphicon-ok"></span></td>
			    </tr>
		    </tbody>
		  </table>
		</div>

		<br>

		<div class="alert alert-info">To add a new property to this list, click 
			<a ng-click="addmyProperty()">here</a>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
	         <h3 class="panel-title">Just in case you sell</h3>
	    </div>
			<div class="panel-body">
				<p>You should always have the following lined up..</p>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="reqs in ownReqs">
					{{reqs.name}}
				</li>
			</ul>
		</div>
	</div>
</div>

<div ng-include=" 'views/dash/_addproperty_modal.html' ">

