<!--NAV-->

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/app/index.html#/dash">HOMEFRY</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="index.html#/dash">Dashboard</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="index.html#/dash/settings">Account</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>