<!-- New Property On Board Process -->
<div id="new_property_onboard" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
     
			<!--STEP 1/3 Basic Info -->
      <div class="upload-docs" ng-show="StepOne">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title text-center">Basic Information</h3>
	        <h5 class="text-center">Step 1/3: Complete the following for {{ newPropertyData.name }}</h5>
	      </div>

	      <form class="form-horizontal" ng-submit="uploadOnboardDocuments()">
	      	<div class="modal-body">
	      		<div class="form-group">
			      	<label class="col-md-4 control-label">Document Name</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="enter name here" name="document-name" ng-modal="property.sqft" required></input>
			      	</div>
		      	</div>

		      	<div class="form-group">
			      	<label class="col-md-4 control-label">Description</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="short description" ng-modal="property.yrbuilt"></input>
			      	</div>
		      	</div>

	      		<button type="submit" class="btn btn-default btn-block">
		      		<span class="glyphicon glyphicon-file"></span>
		      		Skip This Step
	      		</button> 

		      	<button type="submit" class="btn btn-primary btn-block">
		      		<span class="glyphicon glyphicon-file"></span>
		      		Submit
	      		</button>
 
	      	</div>
	      </form>
     	</div>


    	<!--STEP 2/3 Upload Documents -->
      <div class="upload-docs" ng-show="StepOne">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title text-center">Upload Documents</h3>
	        <h5 class="text-center">Step 2/3: Upload Necessary Documents for {{ newPropertyData.name }}</h5>
	      </div>

	      <form class="form-horizontal" ng-submit="uploadOnboardDocuments()">
	      	<div class="modal-body">
	      		<div class="form-group">
			      	<label class="col-md-4 control-label">Document Name</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="enter name here" name="document-name" ng-modal="document.name" required></input>
			      	</div>
		      	</div>

		      	<div class="form-group">
			      	<label class="col-md-4 control-label">Description</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="short description" ng-modal="document.description"></input>
			      	</div>
		      	</div>

		      	<button type="submit" class="btn btn-default btn-block">
		      		<span class="glyphicon glyphicon-file"></span>
		      		Upload Document
	      		</button> 
	      	</div>
	      </form>
     	</div>

      <!--STEP 3/3 Complete Checklist -->
	    <div class="complete-checklist" ng-hide="StepOne">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title text-center">Basic Checklist</h3>
	        <h5 class="text-center">Step 3/3: Complete the following basic checklist for {{ newPropertyData.name }}</h5>
	      </div>

	      <form class="form-horizontal" ng-submit="completeChecklist()">
	      	<div class="modal-body">
	      		<div class="form-group">
			      	<label class="col-md-4 control-label">Placeholder 1</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="enter name here"></input>
			      	</div>
		      	</div>

		      	<div class="form-group">
			      	<label class="col-md-4 control-label">Placeholder 2</label>
			      	<div class="col-md-8">
			      		<input class="form-control" type="text" placeholder="short description"></input>
			      	</div>
		      	</div>

		      	<div class="btn btn-default btn-block">
		      		<span class="glyphicon glyphicon-file"></span>
		      		Submit Progress
	      		</div> 
	      	</div>
	      </form>
	    </div>

  	</div>
  </div>
</div>	