<div class="panel panel-default">
  <div class="panel-heading">
		<h4>
			{{property.name}}
			<span class="pull-right badge"><b>{{property.completion_status}}%</b> complete
			</span>
		</h4>
		<span>{{property.city}}, {{property.state}}</span>
		<span><a href="#/property/{{property.id}}">view</a></span>
  </div>

	<img class="img-responsive" ng-src="{{property.photoUrl}}">

	<div class="panel-body">
		<div class="alert alert-danger" style="margin-bottom: 0;">Complete the HealthCheck <a ng-href="#/property/{{property.id}}/healthcheck/monthly">here!</a>
		</div>
	</div>

	<ul class="list-group">
		<li class="list-group-item">
			Square Ft.
			<span class="badge">{{property.squareFt}} sq/ft</span>
		</li>
		<li class="list-group-item">
			Year Built
			<span class="badge">{{property.yearBuilt}}</span>
		</li>
		<li class="list-group-item">
			Bedrooms
			<span class="badge">{{property.bedrooms}}</span>
		</li>
	  <li class="list-group-item">
	  	Bathrooms
	  	<span class="badge">{{property.bathrooms}}</span>
	  </li>
	  <li class="list-group-item">
	  	Lot Size
	  	<span class="badge">{{property.lotSize}} acres</span>
	  </li>
	</ul>
</div>
