<div data-ng-include data-src=" 'views/dash/_navigation.html' "></div>

<h1>Dashboard</h1>

<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Welcome to your Dashboard!</strong> You are now logged in as Alice Flaherty.
</div>

<hr>

<div class="row">
  	<div class="col-md-12">
		<ul class="nav nav-tabs">
		  <li ng-class="{active: selected == 1}">
		  	<a href="" ng-click="selected=1">Overview</a>
		  </li>
		  <li ng-class="{active: selected == 2}">
		  	<a href="" ng-click="selected=2">My Properties</a>
		  </li>
		  <li ng-class="{active: selected == 3}">
		  	<a href="" ng-click="selected=3">Potential Properties</a>
		  </li>
		</ul>
	</div>
</div>	
		
<br>

<div ng-if="selected == 1">
	<div ng-include=" 'views/dash/_overview.html' "></div>
</div>

<div ng-if="selected == 2">
	<div ng-include=" 'views/dash/_myproperties.html' "></div>
</div>

<div ng-if="selected == 3">
	<div ng-include=" 'views/dash/_buyproperties.html' "></div>
</div>