<div class="panel panel-default col-md-8 col-md-offset-2">
	<div class="panel-heading">
		<h4>Pre-Winter Checklist</h4>
		<p>Since the last winter please check to see if the following have been completed.</p>
	</div>

	<form class="form-checklist">
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have all the drains been checked to see if they are working correctly around the property?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Has the roof been inspected for leaks and insulation in the past year?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have windows resealed and caulked?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have all the branches of trees that hang over the house been cut away?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have you had the fireplace inspected and cleaned?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have you checked to ensure that the HVAC and ducts are working?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>

		<div class="modal-footer">
			<a class="btn btn-default" ui-sref="dash">
				Cancel
			</a>
			<button type="submit" class="btn btn-primary" value="Next" ui-sref="healthcheck.annual">
				Next
			</button>
		</div>
	</form>
</div>

<div class="panel panel-default col-md-8 col-md-offset-2">
	<div class="panel-heading">
		<h4>Pre-Summer HealthCheck</h4>
		<p>Since last summer, please check to see if the following have been done.</p>
	</div>

	<form class="form-checklist">
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have you checked that the AC and ducts are working?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have you done the landscaping in the past month?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<label class="control-label">Have you done the landscaping in the past month?</label>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<input type="checkbox"> Yes
			</div>
			<div class="col-xs-6 visible-xs">
				<a href="" class="btn btn-primary btn-block">YES</a>
			</div>
			<div class="col-xs-6 visible-xs">
				<a class="btn btn-primary btn-block">NO</a>
			</div>
		</div>

		<div class="modal-footer">
			<a class="btn btn-default" ui-sref="dash">
				Cancel
			</a>
			<button type="submit" class="btn btn-primary" value="Next" ui-sref="healthcheck.annual">
				Next
			</button>
		</div>
	</form>

</div>
