<div class="panel panel-default col-md-8 col-md-offset-2">
	<!-- step_1.html -->
	<div class="panel-heading">
		<h4>HealthCheck 2 for {{currentPropID}}!</h4>
	</div>

	<div class="panel-body">  
		
		<form class="form-horizontal">
		  	<div class="form-group">
		    	<label class="col-md-3 control-label col-md-offset-1">ZIP</label>
		    	<div class="col-md-7">
		    		<input class="form-control" type="text" placeholder="enter ZIP Code here" name="zip" ng-model="property.zip"></input>
		    	</div>
		  	</div>
			</div>

		  <div class="modal-footer">
		    <a class="btn btn-default" ui-sref="dash">
		    	Cancel
		    </a>
		    <button type="submit" class="btn btn-primary" value="Next" ui-sref="healthcheck.S3">
		    	Complete
		    </button>
		  </div>
		</form>
	</div>
</div>
