<div class="row">
  <div class="col-md-5 col-md-offset-1" style="padding-top: 30px;">
    <img class="col-md-12 img-thumbnail" src="http://dfon12yb6dcdf.cloudfront.net/product/7m2jfblchbm24k6v9c1ogrbjvm/w1024x683.jpg?v=2">
  </div>

  <div class="col-md-4">  
    <h3>HouseGevity</h3>
    <h3>The place to store your housing data and share with others</h3>

    <hr>
    <form role="form" ng-show="!auth.user">
      <button type="submit" class="btn btn-primary btn-block" ng-click="auth.$login('google')">
        SIGN IN WITH GOOGLE
      </button><br>
    </form>
    <div ng-if="auth.user">
      <h3>Welcome back, {{ auth.user.displayName }}!</h3>
      <a ng-click="$location.path('/dash')" class="btn btn-success btn-block">
        GO TO DASHBOARD
      </a><br>
      <a href="#" ng-click="auth.$logout()">Logout</a>
    </div>
  </div>    
</div>