<div class="container property-container">
	<div class="row">
		<div class="col-md-2">
			<img class="img-responsive" src="img/placeholder.png">
		</div>
		<div class="col-md-10">
			<h2>{{property.name}} in {{property.city}}</h2>
			<h4>
				<small>Added {{property.dateAdded | date : 'mediumDate'}}</small>
			</h4>
		</div>
	</div>

	<br>

	<h4 ng-if="property.notifications.length > 0">Notificaitons 
		<span class="badge">{{property.notifications.length}}</span>
	</h4>

	<div class="alert alert-danger" ng-repeat="warnings in property.notifications">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Warning!</strong> You have not completed your HealthCheck for this property. Click <a href="" class="alert-link">here</a> to complete them.
	</div>

	<div class="row">
		<div class="col-md-5">
			
			<div class="panel panel-default">
				<div class="panel-heading">
		        <h3 class="panel-title">	         
		         	<span class="glyphicon glyphicon-list-alt"></span>
							To Do List
						</h3>
		    </div>
		   	
		   	<div class="panel-body">
		   		<p>You are <strong>{{completedTasksPercentage}}% complete</strong> with all TODOs. Complete the to dos below for a complete home profile</p>

		   		<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{ completedTasksPercentage || 0 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completedTasksPercentage }}%;">
					 	{{ completedTasksPercentage || 0 }}%
					  </div>
					</div>

					<div ng-repeat="checklist in allChecklists">
						<hr>
			   		<h4>{{ checklist.displayName }}</h4>
						<form role="form" ng-submit="updateChecklistProgress()" >
							<ul class="list-group">
				   			<li class="list-group-item" ng-repeat="task in checklist.tasks">
				   				<input type="checkbox" name="{{task.name}}" checklist-model="propertyRef.checklists[checklist.id].tasks" checklist-value="task.name">
				   				{{task.displayName}} 
				   			</li>
				   		</ul>
				   		<button class="btn btn-primary btn-block" value="update">Update</button>
			   		</form>
		    	</div>
		 		</div>
			</div>
		</div>

	</div>
</div>
<div ng-include=" 'views/dash/_addDocument_modal.html' ">